*, *::after, *::before { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html { 
    height: 100%; 
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    --text-title-color: #3d5672;
    --text-color: rgb(41, 41, 41); /*#243f53;*/
    --action-color:  #ebb84b;
    --action-color-dark: #c2a051;

    --action-bw: #e4e4e4;
    --action-bw-dark: #b9b9b9;

    --title-height: calc(550px + 5vw);
    --separator-height: clamp(250px, 250px + 10vw, 450px);
    --separator-height-img: calc(var(--separator-height) * 0.8 - 20px);
    --center-width: 1200px;
    color: var(--text-color);
}

body { 
    background-image: url("imgs/noise_opt.png");
    background-size: 250px;
    background-repeat:  repeat;
    background-attachment: scroll;
    
    width: 100%;
    height: 100%;

    scroll-behavior: smooth;
    overflow-y: auto;

    font-family:  "Ubuntu", system-ui, "UbuntuFallback", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.75rem;
    font-weight: normal;
    font-kerning: normal;
}

section {
    position: relative;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 60px;
}

a {
    color: var(--text-title-color);
    font-weight: 500;
    padding-inline: 1px;
    text-decoration: none;
    border-bottom: solid 2px var(--text-title-color);
}

a:hover {
    color: black;
    border-bottom: solid 2px black;
    background-color: #eeeeee;
}

b {
    font-weight: bold;
}

h1 {
    margin-top: 1.1rem;
    margin-bottom: 0.7rem;
    line-height: 1.3;
    font-size: 3.375rem;
    color: var(--text-title-color);
    font-weight: bold;
}

h2 {
    margin-top: 1.1rem;
    margin-bottom: 0.5rem;
    line-height: 1.25;
    font-size: 2.25rem;
    color: var(--text-title-color);
    font-weight: normal;
}

h3 {
    margin-bottom: 0.3rem;
    font-size: 1.50rem;
    line-height: 1.2;
    font-weight: normal;
}

h4 {
    margin-bottom: 0.1rem;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: bold;
}

p {
    margin: 0 0 1.25rem;
}

input { 
    font-size: 1.05rem;
    line-height: 1.0em;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 2px 2px 2px;
    border: solid 1px var(--text-title-color);
}

textarea { 
    font-size: 1.05rem;
    line-height: 1.25em;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 2px 2px 2px 2px;
    border: solid 1px var(--text-title-color);
}

button {
    font-size: 100%;
    line-height: 1.0em;
    padding: 10px 18px 10px 18px;
}

button:hover {
    background-color: #bbbbbb;
    color: var(--text-color);
}


.textitem {
    position: relative;
    box-shadow: -6px 0px 10px -1px #dddddd;
    
    border-left-color: #bbbbbb;
    border-left-width: 1px;
    border-left-style: solid;
    padding: 2px 15px 4px 15px;
    background-color: #ffffff88;
}
@media (max-width: 550px) {
    .textitem {
        padding: 2px 0 4px 0;
        box-shadow: none;
        border: none;
        box-shadow: 0px -7px 5px -6px #dddddd,0px 7px 5px -6px #cccccc;
    }
}


.achievement-list {
    margin: 0;
    padding-left: 22px;
    list-style: inside url('imgs/icons-ok.svg');
    margin: 0 0 1.25rem 0;
    list-style-position: outside;
} 

.publication-item {
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.25;
    font-weight: 300;
}

.title-link-items {
    margin: 0;
    padding: 3px 7px 3px 7px;
    border-radius: 10px;
    display: flex; 
    flex-direction: row; 
    column-gap: 5px;
    justify-content: center; 
    align-items: center;
    min-width: 150px;
    
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    background-image: url(imgs/noise_opt.png), linear-gradient(180deg,var(--action-color) 50%,var(--action-color-dark) 100%);    background-size: 250px, contain;
    background-size: 200px, contain;
    border-color: var(--action-bw);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px -1px #5f5f5f;
}

.title-link-items:hover {
    background-image: url(imgs/noise_opt.png), linear-gradient(180deg,var(--action-bw) 50%,var(--action-bw-dark) 100%);
    border-color: var(--action-bw);
    border-style: solid;
    border-width: 1px;
}

.mini-nav-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: flex-end;
    row-gap: 10px;
    column-gap: 10px;
    z-index: 10;
}

.mini-nav-link {
    color: black; 
    border: solid 1px #eeeeee; 
    border-bottom: solid 2px #eeeeee;
    border-radius: 2px;
    font-weight: normal; 
    padding: 2px 15px 2px 15px;
    box-shadow: 0px 0px 5px -1px #dddddd;
    background-color: #eeeeee;
}

.mini-nav-link:hover {
    color: black; 
    border: solid 1px #eeeeee; 
    border-bottom: solid 2px black;
    box-shadow: 0px 0px 5px -1px #f2f2f2;
    background-color: white;
}

.highlight-items {
    display: flex;
    column-gap: 15px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 30px;
}

.highlight-key {
    display: inline-block;
    padding: 1px 5px 1px 5px; 
    margin: 0;
    border-radius: 5px 0 0 5px;
    background-color: #dddddd;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    font-weight: 300;
    box-shadow: 0px 0px 3px -1px #5f5f5f;
}

.highlight-value {
    display: inline-block;
    padding: 1px 5px 1px 5px; 
    border-radius: 0 5px 5px 0;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
}

.cv-list {
    position: relative; 
    padding-top: 10px;
    /*padding-right: 40%;*/
}

.cv-list[line="yes"]::before {
    content: '';
    position: absolute; 
    left: 10px; 
    top: 0px; 
    height: 100%; 
    border-left: solid 1px var(--text-title-color);
}

.cv-circle-list {
    position: relative; 
}

.cv-circle-list > * {
    position: relative;
    padding-left: 35px;
    padding-right: 40%;
}

.cv-circle-list[fill="no"] h4::before {
    content: '';
    position: absolute; 
    left: 2px; 
    width: 16px; 
    height: 16px; 
    top: 1px; 
    border: solid 1px var(--text-title-color); 
    border-radius: 10px; 
    background-color: white;
}

.cv-circle-list[fill="yes"] h4::before {
    content: '';
    position: absolute; 
    left: 2px; 
    width: 16px; 
    height: 16px; 
    top: 1px; 
    border-radius: 10px; 
    background-color: var(--text-title-color);
}


.cv-img {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
    width: 40%;
    bottom: 0px;


    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 7em;
}

@media (max-width: 740px) {
    .cv-circle-list > * {
        padding-right: 0px;
    }
    .cv-img {
        display: none;
        width: 0px;
    }
}


.center-h {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.center-content {
    position: relative;
    max-width: var(--center-width);
    margin-inline: auto;
    padding-inline: 20px;
}

.column2-content {
    display: flex; 
    flex-direction: row; 
    align-content: space-evenly; 
    justify-content: space-between; 
    align-items: stretch;
    flex-wrap: wrap; 
    column-gap: 20px;
    row-gap: 20px;
}

.column2-content > div {
    flex: 1; 
    min-width: calc((var(--center-width) * 0.5 - 1 * 20px) * 0.75);
}

.column2-nowarp-content {
    display: flex; 
    flex-direction: row; 
    align-content: space-evenly; 
    justify-content: space-between; 
    align-items: stretch;
    flex-wrap: nowrap; 
    column-gap: 20px;
    row-gap: 20px;
}

.column3-content {
    display: flex; 
    flex-direction: row; 
    align-content: space-evenly; 
    justify-content: space-between; 
    align-items: stretch;
    flex-wrap: wrap; 
    column-gap: 20px;
    row-gap: 20px;
}

.column3-content > div {
    flex: 1; 
    min-width: calc((var(--center-width) * 0.33 - 2 * 20px) * 0.8);
}

.separator-info-text {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: stretch;
    align-content: flex-start;
    column-gap: 20px;
}

.separator-info-text > p {
    font-weight: 300; 
    color: black;
}

.scroll {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.load-lazy {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.scroll-title-item {
    position: relative;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--title-height);
    margin-bottom: 120px;

    background-position: top 0px left calc(75vw - 100px),center,left;
    background-repeat: no-repeat,repeat, no-repeat;
    background-size: calc(400px + 20vw) auto, 300px auto, max(100%, var(--center-width)) auto;
    background-image: url("imgs/eq_opt.svg"), url("imgs/noise_opt.png"),linear-gradient(90deg, rgba(28,40,53,1) 0%, rgba(45,85,126,1) 30%, rgb(41, 151, 137) 70%, rgba(50,40,69,1) 100%);
    background-attachment: fixed,fixed,fixed;
    
    -webkit-mask-image: url("imgs/waves_opt.svg"), linear-gradient(#fff 0 0);
    -webkit-mask-repeat: no-repeat, no-repeat;
    -webkit-mask-position: bottom -1px right 0px;
    -webkit-mask-size: calc(600px + 40vw) auto, auto calc(2px + var(--title-height));
    -webkit-mask-composite: exclude, add;
    -webkit-mask-origin: view-box, view-box;

    mask-image: url("imgs/waves_opt.svg"), linear-gradient(#fff 0 0);
    mask-repeat: no-repeat, no-repeat;
    mask-position: bottom -1px right 0px;
    mask-size: calc(600px + 40vw) auto, auto calc(2px + var(--title-height));
    mask-composite: exclude, add;
    mask-origin: view-box, view-box;
    
}

.title-img {
    position: relative; 
    width: calc(var(--title-height) * 0.35); 
    height: calc(var(--title-height) * 0.35); 
    background-image: url("imgs/me_opt.jpg"); 
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border: solid white 1px;
}

.scroll-separator {
    position: relative; 
    /*max-width: clamp(calc(var(--center-width) * 1.4), 90%, calc(var(--center-width) * 2.0));
    width: clamp(calc(var(--center-width) * 1.4), 80%, calc(var(--center-width) * 2.0));*/
    width: 100%;
    overflow: hidden;
    margin-inline: auto;
    height: var(--separator-height);

    /*
    -webkit-mask-image: url("imgs/separator_mask_opt.svg"), linear-gradient(90deg,rgba(1,1,1,1) 49%,rgba(1,1,1,0.15) 51%);
    -webkit-mask-size: clamp(calc(var(--center-width) * 0.95), 90%, calc(var(--center-width) * 1.2)) 100%, cover;
    -webkit-mask-repeat: no-repeat,repeat;
    -webkit-mask-position: center,center;

    mask-image: url("imgs/separator_mask_opt.svg"), linear-gradient(90deg,rgba(1,1,1,1) 49%,rgba(1,1,1,0.15) 51%);
    mask-size: clamp(calc(var(--center-width) * 0.95), 90%, calc(var(--center-width) * 1.2)) 100%, cover;
    mask-repeat: no-repeat,repeat;
    mask-position: center,center;
    */
}

.separator-section-gap-top {
    height: 50px;
    width: 100%;
}

.separator-section-gap-bottom {
    height: 70px;
    width: 100%;
}

.scroll-welcome-item {
    position: relative;
}

.scroll-welcome-img {
    min-height: 18em; 
    background-image: url(imgs/testbeam.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: auto 18em;

    mask-image: url(imgs/testbeam-mask.svg); 
    mask-size: auto 18em; 
    mask-repeat: no-repeat; 
    mask-position: center center;
}

.scroll-highlights-imgs {
    position: relative; 
    width: 100%; 
    height: 200px; 
    background-size: auto 100%; 
    background-color: #000000; 
    background-position: center center; 
    background-repeat: no-repeat; 
    margin-top: 0px;
    border-radius: 10px;
}

.scroll-highlights-hep {
    background-image: none; 
}

.scroll-highlights-hep.lazy {
    opacity: 1;
    background-image: url(imgs/minievent.jpg); 
}


.scroll-highlights-dataanalysis {
    background-image: none; 
}

.scroll-highlights-dataanalysis.lazy {
    opacity: 1;
    background-image: url(imgs/dataanalysis.jpg); 
}

.scroll-highlights-computing {
    background-image: none; 
}

.scroll-highlights-computing.lazy {
    opacity: 1;
    background-image: url(imgs/computing.jpg); 
}

.box-white {
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
    border: #ffffffd3 solid 1px;
    background-color: #ffffffbb;
    box-shadow: 0px 0px 4px 1px #797979a6;
}


.scroll-separator-cms {
    
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-position: left top,left;
    background-repeat: repeat, no-repeat;
    background-size: 300px,cover;
    background-attachment: fixed,fixed;
    
    -webkit-mask-image: linear-gradient(90deg,rgba(1,1,1,0.1) 10%, rgba(1,1,1,0.2) 40%, rgba(1,1,1,1) 70%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left;
    -webkit-mask-size: max(100%,1200px);
    -webkit-mask-origin: view-box;
    
    mask-image: linear-gradient(90deg,rgba(1,1,1,0.1) 10%, rgba(1,1,1,0.2) 40%, rgba(1,1,1,1) 70%);
    mask-repeat: no-repeat;
    mask-position: left;
    mask-size: max(100%,1200px);
    mask-origin: view-box;
    
}

.scroll-separator-cms.lazy {
    opacity: 1;
    background-image: url("imgs/noise_opt.png"),url("imgs/cms_opt.jpg");
}


.scroll-separator-cms-img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--separator-height);
    
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left center;
    -webkit-mask-size: auto var(--separator-height-img);
    -webkit-mask-origin: view-box;

    mask-repeat: no-repeat;
    mask-position: left center;
    mask-size: auto var(--separator-height-img);
    mask-origin: view-box;
}

.scroll-separator-cms-img.lazy {
    opacity: 1;
    background-image: url("imgs/cms_opt.jpg");
    -webkit-mask-image: url("imgs/hist_mask_opt.svg");
    mask-image: url("imgs/hist_mask_opt.svg");
}


.scroll-separator-wlcg {
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    background-position: left top, left;
    background-repeat: repeat, no-repeat;
    background-size: 300px,cover;
    background-attachment: fixed, fixed;
    
    -webkit-mask-image: linear-gradient(270deg, rgba(1,1,1,1) 5%, rgba(1,1,1,0.7) 40%, rgba(1,1,1,0.1) max(500px, 70vw));
    -webkit-mask-repeat: repeat;
    -webkit-mask-position: left;
    -webkit-mask-size: 100% auto;
    -webkit-mask-origin: view-box;

    mask-image: linear-gradient(270deg, rgba(1,1,1,1) 5%, rgba(1,1,1,0.7) 40%, rgba(1,1,1,0.1) max(500px, 70vw));
    mask-repeat: repeat;
    mask-position: left;
    mask-size: 100% auto;
    mask-origin: view-box;
}

.scroll-separator-wlcg.lazy {
    opacity: 1;
    background-image: url("imgs/noise_opt.png"),url("imgs/projects_opt.jpg");
}


.scroll-separator-wlcg-img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--separator-height);
    
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left bottom;
    -webkit-mask-size: auto var(--separator-height-img);
    -webkit-mask-origin: view-box;

    mask-repeat: no-repeat;
    mask-position: left bottom;
    mask-size: auto var(--separator-height-img);
    mask-origin: view-box;
}

.scroll-separator-wlcg-img.lazy {
    opacity: 1;
    background-image: url("imgs/projects_opt.jpg");
    -webkit-mask-image: url("imgs/earth_opt.svg");
    mask-image: url("imgs/earth_opt.svg");
}



.scroll-separator-cpudie {
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
    background-size: cover,auto 100vh;
    background-attachment:  scroll, fixed;
    background-blend-mode: hard-light, normal;


    -webkit-mask-image: linear-gradient(90deg, rgba(1,1,1,0.5) 5%, rgba(1,1,1,0.6) 40%, rgba(1,1,1,1) max(500px, 70vw));
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom right;
    -webkit-mask-size: auto 100%;
    -webkit-mask-origin: view-box;

    mask-image: linear-gradient(90deg, rgba(1,1,1,0.5) 5%, rgba(1,1,1,0.6) 40%, rgba(1,1,1,1) max(500px, 70vw));
    mask-repeat: no-repeat;
    mask-position: bottom right;
    mask-size: auto 100%;
    mask-origin: view-box;
    
}

.scroll-separator-cpudie.lazy {
    opacity: 1;
    background-image: 

        url("imgs/die_opt.jpg"),
        linear-gradient(20deg, rgb(54, 173, 153) 20%, rgb(250,119,255) 50%, rgb(250,229,46) 95%);
}

.scroll-separator-chep {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    background-position: center, center;
    background-repeat: repeat, no-repeat;
    background-size: 300px,  max(100%, var(--center-width)) auto;
    background-attachment: fixed, fixed;
}

.scroll-separator-chep.lazy {
    opacity: 1;
    background-image: 
        url("imgs/noise_opt.png"), 
        linear-gradient(90deg, rgb(255, 255, 255) 0%, #dfe7ff 20%,#30265c 60%, #1d1d1d 90%);
}

.scroll-separator-chep-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--separator-height);
    
    background-position: center, bottom right;
    background-repeat: repeat, no-repeat;
    background-size: 300px, cover, cover;
    background-attachment: fixed, scroll;
    background-blend-mode: normal, normal;

    -webkit-mask-size: 100% var(--separator-height);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 40%, rgb(0, 0, 0) 80%, rgba(255, 255, 255, 0) 100%);

    mask-size: 100% var(--separator-height);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 40%, rgb(0, 0, 0) 80%, rgba(255, 255, 255, 0) 100%);
}

.scroll-separator-chep-img.lazy {
    opacity: 1;
    background-image: 
        url("imgs/noise_opt.png"), 
        url("imgs/pres_opt.jpg");
}

.scroll-contact-box {
    position: relative;
    color: black; 
    margin-top:60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e0e0e07e; 
    max-width: calc(var(--center-width) * 0.6);
    padding: 20px; 
    border-radius: 10px;
}

.scroll-impressum-box {
    position: relative;
    margin-top: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%; 
    font-size: 0.85rem;
    line-height: 1.1rem;
    background-size: 300px;
    background-image: url("imgs/noise_opt.png");
    background-color:  var(--text-title-color);
    color:#eeeeee;
}

.contact-box {
    padding: 20px 37% 20px 10px;
}

.contact-img {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 40px;
    bottom: 60px;
    width: 34%;
    min-width: 220px;
    background-color: #eeeeee;
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 220px auto;
    mask-image: url("imgs/icon-email.svg");
}

@media (max-width: 850px) {
    .contact-box {
        padding-right: 10px;
    }
    .contact-img {
        display: none;
    }
}