*, *::after, *::before { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html { 
    height: 100%; 
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    --text-title-color: #3d5672;
    --text-color: rgb(41, 41, 41); /*#243f53;*/
    --action-color:  #f0c05a;

    --action-bw: #eeeeee;

    --title-height: calc(550px + 5vw);
    --separator-height: clamp(300px, 300px + 10vw, 500px);
    --separator-height-img: calc(var(--separator-height) * 0.8 - 20px);
    --center-width: 1400px;
    --column-gap: 50px;
    --row-gap: 50px;
    color: var(--text-color);

    font-family:  "Ubuntu", system-ui, "UbuntuFallback", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.66rem;
    font-weight: normal;
    font-kerning: normal;
    
}

body { 
    background-color: #fff;
    background-image: url("imgs/noise2_opt.png");
    background-size: 300px;
    background-repeat:  repeat;
    background-attachment: scroll;
    background-position: center;
    
    width: 100%;
    height: 100%;

    scroll-behavior: smooth;
    overflow-y: auto;

    
}

section {
    position: relative;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 60px;
}

a {
    color:  #b87f15;
    font-weight: bold;
    padding-inline: 1px;
    text-decoration: none;
    word-wrap: break-word;
    /*border-bottom: solid 2px var(--text-title-color);*/
}

ul {
    margin: 0;
    padding-left: 22px;
    list-style: inside;
    margin: 0 0 1.25rem 0;
    list-style-position: outside;
}

a:hover {
    color: black;
    border-bottom: solid 2px black;
    /*background-color: #eeeeee;*/
}

b {
    font-weight: bold;
}

h1 {
    margin-top:  0.5rem;
    margin-bottom: 1rem;
    line-height: 1.3;
    font-size: clamp(0.83 * 3.375rem, 0.83 * 3.375rem + 1vw, 3.375rem);
    color: var(--text-title-color);
    font-weight: bold;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.25;
    font-size: clamp(0.83 * 2.25rem, 0.83 * 2.25rem + 0.6vw, 2.25rem);
    color: var(--text-title-color);
    font-weight: normal;
}

h3 {
    margin-bottom: 0.4rem;
    font-size: clamp(0.83 * 1.50rem, 0.83 * 1.50rem + 0.5vw, 1.50rem);
    line-height: 1.25;
    font-weight: 300;
}

h4 {
    margin-bottom: 0.1rem;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
}

p {
    margin: 0 0 0.5rem;
}

input { 
    font-family: inherit;
    font-size: 1.05rem;
    line-height: 1.25em;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    color: black;
    border: solid 1px var(--text-title-color);
}

textarea { 
    font-family: inherit;
    font-size: 1.05rem;
    line-height: 1.25em;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    color: black;
    border: solid 1px var(--text-title-color);
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.0em;
    padding: 10px 18px 10px 18px;
}

button:hover {
    background-color: #bbbbbb;
    color: var(--text-color);
}


.textitem {
    position: relative;
    
    box-shadow: -10px 0px 10px -2px #cccccc;
    
    border-left-color: #aaaaaa;
    border-left-width: 1px;
    border-left-style: solid;
    
    /*
    border-top-color: var(--text-title-color);
    border-top-width: 2px;
    border-top-style: solid;
    */
    padding: 10px 15px 10px 20px;

    background-color: #fff;
    background-image: 
        linear-gradient(0deg,#ffffff00  10%,  #ffffffdd 55%, #ffffffaa 65%, #ffffff00  90%), 
        linear-gradient(90deg, #fff 0%, #ffffff00  100%), 
        linear-gradient(270deg, #fff 0%, #ffffff00  100%), 
        url("imgs/textitem.svg");
        
    
    background-position: 
        top left, 
        top left, 
        top right, 
        center;
        
    background-size: 
        auto 400px, 
        100px auto, 
        100px auto, 
        1000px;

    background-repeat: 
        repeat, 
        no-repeat, 
        no-repeat, 
        repeat;

    background-attachment: scroll;
}

/*
.textitem::before {
    content: '';
    position: absolute;
    background-image: url(imgs/corner_top.svg), url(imgs/corner_bottom.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom left;
    background-size: contain;

    width: 20px;
    top: 0px;
    left: 0px;
    height: 100%;
}*/


/*
.textitem::after {
    content: '';
    position: absolute;
    background-color: var(--text-title-color);
    width: 100px;
    bottom: 0px;
    right: 0px;
    height: 10px;
}
*/

@media (max-width: 750px) {
    .textitem {
        margin-inline: -20px;
        
        box-shadow: 0px 0px 10px -2px #cccccc;
        border: none;
        border-top-color: #dddddd;
        border-top-width: 1px;
        border-top-style: solid;

        border-bottom-color: #cccccc;
        border-bottom-width: 1px;
        border-bottom-style: solid;

    }
    .textitem[noborder="1"] {
        border-top: none;
    }
}




.achievement-list {
    margin: 0;
    padding-left: 22px;
    list-style: inside url('imgs/icons-ok.svg');
    margin: 0 0 1.25rem 0;
    list-style-position: outside;
} 

.publication-item {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 300;
}

.title-link-items {
    margin: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    display: flex; 
    flex-direction: row; 
    column-gap: 5px;
    justify-content: center; 
    align-items: center;
    
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(1.0rem, 0.75vw + 0.5rem, 1.05rem);
    background: url(imgs/noise2_opt.png), var(--action-color);   
    background-size: 200px, contain;
    border: none;
    box-shadow: 0px 0px 5px -2px #5f5f5f;
}

.title-link-items:hover {
    background: url(imgs/noise2_opt.png),var(--action-bw);
    background-size: 200px, contain;
    border: none;
    box-shadow: 0px 0px 5px -1px #5f5f5f;
}

.title-link-glas-items {
    margin: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    display: flex; 
    flex-direction: row; 
    column-gap: 5px;
    justify-content: center; 
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(1.0rem, 0.75vw + 0.5rem, 1.05rem);
    background-image: url(imgs/noise2_opt.png);    
    background-size: 200px;
    background-color: #eeeeeeaa;
    border: none;
    box-shadow: 0px 0px 5px -2px #5f5f5f;
}

.title-link-glas-items:hover {
    background: url(imgs/noise2_opt.png),var(--action-bw);
    background-size: 200px, contain;
    border: none;
    box-shadow: 0px 0px 5px -1px #5f5f5f;
}

.animation-tag {
    position: relative;
    width: 0px;
    height: 0px;
}

.mini-nav-header {
    display: flex;
    flex-direction: row; 
    column-gap: 20px; 
    align-items: flex-end; 
    align-content: flex-end; 
    justify-content: space-between;
}

.mini-nav-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: flex-end;
    row-gap: 10px;
    column-gap: 10px;
    z-index: 10;
}

@media (max-width: 850px) {
.mini-nav-layout {
    visibility: hidden;
    display: none;
}
}

.mini-nav-link {
    color: black; 
    border: solid 1px #eeeeee; 
    border-bottom: solid 2px #eeeeee;
    border-radius: 2px;
    font-weight: normal; 
    padding: 2px 15px 2px 15px;
    box-shadow: 0px 0px 5px -1px #dddddd;
    background-color: #eeeeee;
}

.mini-nav-link:hover {
    color: black; 
    border: solid 1px #eeeeee; 
    border-bottom: solid 2px black;
    box-shadow: 0px 0px 5px -1px #f2f2f2;
    background-color: white;
}

.highlight-items {
    display: flex;
    column-gap: 15px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 30px;
}

.highlight-key {
    display: inline-block;
    padding: 1px 5px 1px 5px; 
    margin: 0;
    border-radius: 5px 0 0 5px;
    background-color: #eeeeee;
    
    /*background-color: var(--text-title-color);
    color: white;
    */
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    font-weight: 300;
    box-shadow: 0px 0px 3px -1px #5f5f5f;
}

.highlight-value {
    display: inline-block;
    padding: 1px 5px 1px 5px; 
    border-radius: 0 5px 5px 0;
    border-color: #dddddd;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
}

.conference-name {
    font-weight: 500;
    line-height: 1.3;
    font-size: 1rem;
}

.cv-list {
    position: relative; 
    padding-top: 10px;
    /*padding-right: 40%;*/
}

.cv-list[line="yes"]::before {
    content: '';
    position: absolute; 
    left: 10px; 
    top: 0px; 
    height: 100%; 
    border-left: solid 1px var(--text-title-color);
}

.cv-circle-list {
    position: relative; 
}

.cv-circle-list > * {
    position: relative;
    padding-left: 35px;
    padding-right: 40%;
}

.cv-circle-list[pad="no"] > * {
    position: relative;
    padding-left: 35px;
    padding-right: 20px;
}

.cv-circle-list[fill="no"] h4::before {
    content: '';
    position: absolute; 
    left: 2px; 
    width: 16px; 
    height: 16px; 
    top: 1px; 
    border: solid 1px var(--text-title-color); 
    border-radius: 10px; 
    background-color: white;
}

.cv-circle-list[fill="yes"] h4::before {
    content: '';
    position: absolute; 
    left: 2px; 
    width: 16px; 
    height: 16px; 
    top: 1px; 
    border-radius: 10px; 
    background-color: var(--text-title-color);
}

.cv-circle-list[fillh3="yes"] h3::before {
    content: '';
    position: absolute; 
    left: 2px; 
    width: 16px; 
    height: 16px; 
    top: 6px; 
    border-radius: 10px; 
    background-color: var(--text-title-color);
}

.cv-item {
    position: relative;
    margin-bottom: 4rem;
}


.cv-img {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
    width: 40%;
    bottom: 0px;


    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 7em;
}

@media (max-width: 750px) {
    .cv-circle-list > * {
        padding-right: 0px;
    }
    .cv-img {
        display: none;
        width: 0px;
    }
}

.center-content {
    position: relative;
    max-width: var(--center-width);
    margin-inline: auto;
    padding-inline: max(20px, calc(20px + 5vw));
}

@media (max-width: 750px) {
    .center-content {
        padding-inline: 20px;
    }
}


.column2-content {
    display: flex; 
    flex-direction: row; 
    align-content: space-evenly; 
    justify-content: space-between; 
    align-items: stretch;
    flex-wrap: wrap; 
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
}

.column2-content > div {
    flex: 1; 
    min-width: min(80vw,calc((var(--center-width) * 0.5 - 1 * var(--column-gap)) * 0.7));
}

.column3-content {
    display: flex; 
    flex-direction: row; 
    align-content: space-evenly; 
    justify-content: space-between; 
    align-items: stretch;
    flex-wrap: wrap; 
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
}

.column3-content > div {
    flex: 1; 
    min-width: min(80vw,calc((var(--center-width) * 0.33 - 2 * var(--column-gap)) * 0.8));
}

.item-markers {
    /*
    --size: 50px; 
    --thickness: 1px;  
    --gap: 20px; 
    --color:  #dddddd; 
    padding: calc(var(--gap) + var(--thickness));
    outline: var(--thickness) solid var(--color);
    outline-offset: calc(-1*var(--thickness));
    mask:
      conic-gradient(at var(--size) var(--size),#0000 75%,#000 0)
      0 0/calc(100% - var(--size)) calc(100% - var(--size)),
      linear-gradient(#000 0 0) content-box;
      box-shadow: 0px 2px 8px -3px #aaaaaa;
*/
    
    
    background-color: #dddddd33;
    padding: 20px;
    
    
      
}

.separator-info-text {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: stretch;
    align-content: flex-start;
    column-gap: var(--column-gap);
}

.separator-info-text > p {
    font-weight: 300; 
    line-height: 1.45rem;
    color: black;
}

.scroll {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.load-lazy {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.scroll-title-item {
    position: relative;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--title-height);
    margin-bottom: 110px;

    background-position: top 0px left calc(70vw - 100px), center, left;
    background-repeat: no-repeat, repeat, no-repeat;
    background-size: calc(600px + 10vw) auto, 300px auto, max(100%, var(--center-width)) auto;
    background-image: url("imgs/eq_opt.svg"), url("imgs/noise_opt.png"),linear-gradient(90deg, rgba(28,40,53,1) 0%, rgba(45,85,126,1) 30%, rgb(41, 151, 137) 70%, rgba(50,40,69,1) 100%);
    background-attachment: fixed,fixed,fixed;
    
    -webkit-mask-image: url("imgs/waves_opt.svg"), linear-gradient(#fff 0 0);
    -webkit-mask-repeat: no-repeat, no-repeat;
    -webkit-mask-position: bottom -1px right -1px, center;
    -webkit-mask-size: calc(600px + 60vw) auto, auto calc(2px + var(--title-height));
    -webkit-mask-composite: exclude, add;
    -webkit-mask-origin: view-box, view-box;

    mask-image: url("imgs/waves_opt.svg"), linear-gradient(#fff 0 0);
    mask-repeat: no-repeat, no-repeat;
    mask-position: bottom -1px right -1px, center;
    mask-size: calc(600px + 60vw) auto, auto calc(2px + var(--title-height));
    mask-composite: exclude, add;
    mask-origin: view-box, view-box;
}

.title-img {
    position: relative; 
    width: calc(var(--title-height) * 0.35); 
    height: calc(var(--title-height) * 0.35); 
    background-image: url("imgs/me_opt.jpg"); 
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border: solid white 1px;
}

.scroll-separator {
    position: relative; 
    /*max-width: clamp(calc(var(--center-width) * 1.4), 90%, calc(var(--center-width) * 2.0));
    width: clamp(calc(var(--center-width) * 1.4), 80%, calc(var(--center-width) * 2.0));*/
    width: 100%;
    overflow: hidden;
    margin-inline: auto;
    height: var(--separator-height);
    margin-bottom: 2px;
    /*
    -webkit-mask-image: url("imgs/separator_mask_opt.svg");
    -webkit-mask-size: clamp(var(--center-width) * 1.11, 70vw, calc(var(--center-width) * 1.25)) 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url("imgs/separator_mask_opt.svg");
    mask-size: clamp(var(--center-width) * 1.11, 70vw, calc(var(--center-width) * 1.25)) 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    
    */
    box-shadow: 0px 1px 4px 2px #bbbbbb;

    border-bottom: solid 1px white;
    border-top: solid 1px white;
    
    
}

.separator-section-gap-top {
    height: 4rem;
    width: 100%;
}

.separator-section-gap-bottom {
    height: 6rem;
    width: 100%;
}

.scroll-welcome-item {
    position: relative;
}

.scroll-welcome-img {
    min-height: 18em; 
    background-image: url(imgs/testbeam.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: auto 18em;

    mask-image: url(imgs/testbeam-mask.svg); 
    mask-size: auto 18em; 
    mask-repeat: no-repeat; 
    mask-position: center center;

}

.scroll-highlights-imgs {
    position: relative; 
    width: calc(100% + 35px); 
    height: 200px; 
    background-size: auto 100%; 
    background-color: #000000; 
    background-position: center center; 
    background-repeat: no-repeat; 
    margin-top: -18px;
    margin-inline: -20px;
    margin-bottom: 20px;
    border-radius: 0px;
    
    box-shadow: 0px 1px 3px 1px #999999;

    /*border: solid 1px white;*/
}

.scroll-highlights-hep {
    background-image: none; 
}

.scroll-highlights-hep.lazy {
    opacity: 1;
    background-image: url(imgs/minievent.jpg); 
}


.scroll-highlights-dataanalysis {
    background-image: none; 
}

.scroll-highlights-dataanalysis.lazy {
    opacity: 1;
    background-image: url(imgs/dataanalysis3.jpg); 
}

.scroll-highlights-computing {
    background-image: none; 
}

.scroll-highlights-computing.lazy {
    opacity: 1;
    background-image: url(imgs/computing2.jpg); 
}

.scroll-highlights-hardware {
    background-image: none; 
}

.scroll-highlights-hardware.lazy {
    opacity: 1;
    background-image: url(imgs/hardware3.jpg); 
}

.box-white {
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
    border: #ffffffd3 solid 1px;
    background-color: #ffffffbb;
    box-shadow: 0px 0px 4px 1px #797979a6;
}


.scroll-separator-cms {
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-position: left;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    -webkit-mask-image: linear-gradient(90deg,rgba(1,1,1,0.1) 10%, rgba(1,1,1,0.2) 40%, rgba(1,1,1,1) 70%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left;
    -webkit-mask-size: max(100%,1200px);
    -webkit-mask-origin: view-box;
    
    mask-image: linear-gradient(90deg,rgba(1,1,1,0.1) 10%, rgba(1,1,1,0.2) 40%, rgba(1,1,1,1) 70%);
    mask-repeat: no-repeat;
    mask-position: left;
    mask-size: max(100%,1400px);
    mask-origin: view-box;
    
}

.scroll-separator-cms.lazy {
    opacity: 1;
    background-image: url("imgs/cms_opt.jpg");
}


.scroll-separator-cms-img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--separator-height);
    
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left center;
    -webkit-mask-size: auto var(--separator-height-img);
    -webkit-mask-origin: view-box;

    mask-repeat: no-repeat;
    mask-position: left center;
    mask-size: auto var(--separator-height-img);
    mask-origin: view-box;
}

.scroll-separator-cms-img.lazy {
    opacity: 1;
    background-image: url("imgs/cms_opt.jpg");
    -webkit-mask-image: url("imgs/hist_mask_opt.svg");
    mask-image: url("imgs/hist_mask_opt.svg");
}


.scroll-separator-wlcg {
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    -webkit-mask-image: linear-gradient(270deg, rgba(1,1,1,1) 5%, rgba(1,1,1,0.7) 40%, rgba(1,1,1,0.1) max(500px, 70vw));
    -webkit-mask-repeat: repeat;
    -webkit-mask-position: left;
    -webkit-mask-size: 100% auto;
    -webkit-mask-origin: view-box;

    mask-image: linear-gradient(270deg, rgba(1,1,1,1) 5%, rgba(1,1,1,0.7) 40%, rgba(1,1,1,0.1) max(500px, 70vw));
    mask-repeat: repeat;
    mask-position: left;
    mask-size: 100% auto;
    mask-origin: view-box;
}

.scroll-separator-wlcg.lazy {
    opacity: 1;
    background-image: url("imgs/projects_opt.jpg");
}


.scroll-separator-wlcg-img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--separator-height);
    
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left bottom;
    -webkit-mask-size: auto var(--separator-height-img);
    -webkit-mask-origin: view-box;

    mask-repeat: no-repeat;
    mask-position: left bottom;
    mask-size: auto var(--separator-height-img);
    mask-origin: view-box;
}

.scroll-separator-wlcg-img.lazy {
    opacity: 1;
    background-image: url("imgs/projects_opt.jpg");
    -webkit-mask-image: url("imgs/earth_opt.svg");
    mask-image: url("imgs/earth_opt.svg");
}



.scroll-separator-cpudie {
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    background-position: left, left;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto 100vh;
    background-attachment:  scroll, fixed;
    background-blend-mode: hard-light,  normal;


    -webkit-mask-image: linear-gradient(90deg, rgba(1,1,1,0.5) 5%, rgba(1,1,1,0.6) 40%, rgba(1,1,1,1) max(500px, 70vw));
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom right;
    -webkit-mask-size: auto 100%;
    -webkit-mask-origin: view-box;

    mask-image: linear-gradient(90deg, rgba(1,1,1,0.5) 5%, rgba(1,1,1,0.6) 40%, rgba(1,1,1,1) max(500px, 70vw));
    mask-repeat: no-repeat;
    mask-position: bottom right;
    mask-size: auto 100%;
    mask-origin: view-box;
    
}

.scroll-separator-cpudie.lazy {
    opacity: 1;
    background-image: 
        url("imgs/die_opt.jpg"),
        linear-gradient(20deg, rgb(54, 173, 153) 20%, rgb(250,119,255) 50%, rgb(250,229,46) 95%);
}

.scroll-separator-chep {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(100%, var(--center-width)) auto;
    background-attachment: fixed;
}

.scroll-separator-chep.lazy {
    opacity: 1;
    background-image:  
        linear-gradient(90deg, #ffffff22 0%, #dfe7ffaa 20%,#30265cff 50%, #1d1d1dff 51%, #1d1d1dff 70%, #262626ff 100%);
}

.scroll-separator-chep-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--separator-height);
    
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-blend-mode: normal;

    -webkit-mask-size: 100% var(--separator-height);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 40%, rgb(0, 0, 0) 80%, rgba(255, 255, 255, 0) 100%);

    mask-size: 100% var(--separator-height);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 40%, rgb(0, 0, 0) 80%, rgba(255, 255, 255, 0) 100%);
}

.scroll-separator-chep-img.lazy {
    opacity: 1;
    background-image: 
        url("imgs/pres_opt.jpg");
}


.pub-exo-23-013 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: min(calc(80vw - 100px), 350px);
}

.pub-exo-23-013.lazy {
    opacity: 1;
    background-image: url(imgs/pub/EXO-21-013_opt.svg);
}

.pub-exo-19-011 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: min(calc(80vw - 100px), 350px);
}

.pub-exo-19-011.lazy {
    opacity: 1;
    background-image: url(imgs/pub/EXO-19-011_opt.svg);
}

.pub-top-17-023 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: min(calc(80vw - 100px), 350px);
}

.pub-top-17-023.lazy {
    opacity: 1;
    background-image: url(imgs/pub/TOP-17-023_opt.svg);
}

.pub-top-16-004 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: min(calc(80vw - 100px), 350px);
}

.pub-top-16-004.lazy {
    opacity: 1;
    background-image: url(imgs/pub/TOP-16-004_opt.svg);
}

.pub-top-13-001 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: min(calc(80vw - 100px), 350px);
}

.pub-top-13-001.lazy {
    opacity: 1;
    background-image: url(imgs/pub/TOP-13-001_opt.svg);
}



.scroll-projects-llp {
    background-image: none; 
    background-size: contain;
}

.scroll-projects-llp.lazy {
    opacity: 1;
    background-image: url(imgs/llp.jpg); 
}

.scroll-projects-anomaly {
    background-image: none; 
    background-size: contain;
}

.scroll-projects-anomaly.lazy {
    opacity: 1;
    background-image: url(imgs/anomaly.jpg); 
}

.scroll-projects-top {
    background-image: none; 
    background-size: contain;
}

.scroll-projects-top.lazy {
    opacity: 1;
    background-image: url(imgs/top.jpg); 
}



.scroll-contact-box {
    position: relative;
    color: black; 
    margin-top:60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e0e0e07e; 
    max-width: calc(var(--center-width) * 0.6);
    padding: 20px; 
    border-radius: 10px;
}

.scroll-impressum-box {
    position: relative;
    margin-top: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%; 
    font-size: 0.85rem;
    line-height: 1.1rem;
    background-size: 300px;
    background-image: url("imgs/noise2_opt.png");
    background-color:  var(--text-title-color);
    color:#eeeeee;
}

.contact-box {
    padding: 20px 37% 20px 10px;
}

.contact-img {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 40px;
    bottom: 60px;
    width: 34%;
    min-width: 220px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 12em;
    background-image: url("imgs/icon-email.svg");
}

@media (max-width: 750px) {
    .contact-box {
        padding-right: 10px;
    }
    .contact-img {
        display: none;
    }
}